.classMoveUp {
  fill: #fff;
  stroke-width: 0.5px;
  animation-name: moveUp;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.classMoveDown {
  fill: #fff;
  stroke-width: 0.5px;
  animation-name: moveDown;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
    stroke: #000;
  }
  100% {
    transform: translateY(-20px);
    stroke: goldenrod;
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(-20px);
    stroke: goldenrod;
  }
  100% {
    transform: translateY(0px);
    stroke: #000;
  }
}